{% extends "base.html" %}
<title>{% block title %}Group List{% endblock title %}</title>

{% block content %}

        {% comment %} message {% endcomment %}

    <div class="py-5 px-5 w-1/2 m-auto mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-3 bg-gray-500 text-white">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>

      <div class='w-5/6 mx-auto my-8'>
            <h2 class="text-2xl font-bold mb-4">Groups and Permissions</h2>
        <div class="overflow-x-auto">
            <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">Group Name</th>
                <th class="border border-gray-300 px-4 py-2">Permissions</th>
                <th class="border border-gray-300 px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                    <tr class="odd:bg-white even:bg-gray-50">
                    <td class="border border-gray-300 px-4 py-2 font-medium">
                        {{group.name}}
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <ul class="list-disc list-inside">
                            {% for permission in group.permissions.all %}
                                <li>{{permission.name}}|{{permission.codename}}</li>
                            {% empty %}
                                <span class="text-gray-500 italic">No permissions assigned</span>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <form action="{% url 'delete-group' group.id %}", method="POST">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white p-2 rounded">Delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
                
            </tbody>
            </table>
        </div>
      </div>

{% endblock content %}