{% extends "base.html" %}
<title>{% block title %}Sign In{% endblock title %}</title>

{% block content %}
    <div class='lg:mx-auto md:mx-auto sm:mx-auto mx-4 lg:w-1/2 md:w-1/2 sm:w-1/2 my-9'>
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500 text-white{% endif %} ">{{message}}</div>
            {% endfor %}
        </div>
           
        {% endif %}
        <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <button class='bg-blue-500 px-2 py-1 rounded text-white mt-3' type="submit">Sign In</button>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </div>
{% endblock content %}