{% load static %}
<header class="bg-gray-800 text-white shadow-md ">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-xl font-bold text-gray-800"
          >
          <div class="flex py-2">
            <img class="h-10" src="{% static "images/logo.png" %}" alt="">
            <h3 class="py-2 px-2 font-bold font-serif text-xl text-white">ColorsEvent</h3>
            </div>
          </a
        >
        <div class="hidden md:flex space-x-4">
          <a
            href="{% url 'dashboard' %}"
            class="text-white hover:text-yellow-400"
            >Dashboard</a
          >
          <a href="{% url 'hero' %}" class="text-white hover:text-yellow-400"
            >Home</a
          >
          <a
            href="{% url 'group-list' %}"
            class="text-white hover:text-yellow-400"
            >Groups</a
          >
          <a
            href="{% url 'create-group' %}"
            class="text-white hover:text-yellow-400"
            >Create Group</a
          >
          <a
            href="{% url 'about' %}"
            class="text-white hover:text-yellow-400"
            >About</a
          >
          <a
            href="{% url 'contact' %}"
            class="text-white hover:text-yellow-400"
            >Contact</a
          >
        </div>
        <div class="flex items-center">
          <div class="relative">
            <button
              id="user-menu-button"
              class="flex items-center focus:outline-none"
            >
              <img
                class="h-8 w-8 rounded-full object-cover"
                src="{{user.profile_image.url}}"
                alt="User avatar"
              />
            </button>
            <div
              id="user-menu"
              class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden"
            >
            <p>{{events.username}}</p>
              <a
                href="{% url 'dashboard' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Dashboard</a
              >
              <a
                href="{% url 'profile' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Profile</a
              >
              <form method="post" action="{% url 'sign-out' %}">
                  {% csrf_token %}
                <button
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >
                  Logout
                </button>
              </form>
            </div>
          </div>
          <div class="md:hidden ml-4">
            <button
              id="menu-toggle"
              class="text-white hover:text-yellow-400 focus:outline-none"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div id="mobile-menu" class="md:hidden hidden mt-4">
        <a href="{% url 'dashboard' %}" class="block py-2 text-white hover:text-yellow-400"
          >Dashboard</a
        >
        <a href="{% url 'hero' %}" class="block py-2 text-white hover:text-yellow-400"
          >Home</a
        >
        <a href="{% url 'group-list' %}" class="block py-2 text-white hover:text-yellow-400"
          >Groups</a
        >
        <a href="{% url 'create-group' %}" class="block py-2 text-white hover:text-yellow-400"
          >Create Group</a
        >
        <a href="{% url 'about' %}" class="block py-2 text-white hover:text-yellow-400"
          >About</a
        >
        <a href="{% url 'contact' %}" class="block py-2 text-white hover:text-yellow-400"
          >Contact</a
        >
      </div>
    </nav>
  </header>