{% load static %}
<header class="bg-gray-800 text-white shadow-md">
    <nav class="container mx-auto px-6 py-3">
      <div class="flex justify-between items-center">
        <a href="{% url 'home' %}">
        <div class="flex py-2">
            <img class="h-10" src="{% static "images/logo.png" %}" alt="">
            <h3 class="py-2 px-2 font-bold font-serif text-xl text-white">ColorsEvent</h3>
        </div>
        </a>
        <div class="hidden md:flex space-x-4">
          <a href="{% url 'home' %}" class="text-white hover:text-yellow-400">Home</a>
          <a href="{% url 'about' %}" class="text-white hover:text-yellow-400">About</a>
          <a href="{% url 'contact' %}" class="text-white hover:text-yellow-400">Contact</a>
        </div>
        <div class="md:hidden">
          <button
            id="menu-toggle"
            class="text-white hover:text-gray-300 focus:outline-none ml-20"
          >
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              ></path>
            </svg>
          </button>
        </div>
        <div class="flex gap-1">
          <a
            href="{% url 'sign-in' %}"
            class="hidden md:block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300"
            >Sign In</a
          >
          <a
            href="{% url 'sign-up' %}"
            class="hidden md:block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300"
            >Sign Up</a
          >
        </div>
      </div>
      <div id="mobile-menu" class="md:hidden hidden mt-4">

        <a href="{% url 'home' %}" class="block py-2 text-white hover:text-yellow-400"
          >Home</a
        >
        <a href="{% url 'about' %}" class="block py-2 text-white hover:text-yellow-400"
          >About</a
        >
        <a href="{% url 'contact' %}" class="block py-2 text-white hover:text-yellow-400"
          >Contact</a
        >
        <a href="{% url 'sign-in' %}" class="block py-2 text-white hover:text-yellow-400"
          >Sign In</a
        >
        <a href="{% url 'sign-up' %}" class="block py-2 text-white hover:text-yellow-400"
          >Sign Up</a
        >
      </div>
    </nav>
  </header>